<!DOCTYPE HTML>
<html lang="zh-TW" xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="shortcut icon" th:href="@{/favicon.ico}" />
<link th:href="@{/css/header.css}" rel="stylesheet">
<link th:href="@{/css/footer.css}" rel="stylesheet">
<link th:href="@{/css/bootstrap-4.5.2.min.css}" rel="stylesheet">
<script th:src="@{/js/jquery-3.5.1.min.js}"></script>
<script th:src="@{/js/popper-2.6.0.min.js}"></script>
<script th:src="@{/js/bootstrap-4.5.2.min.js}"></script>
<link th:href="@{/css/scrollbar.css}" rel="stylesheet">

<style>
.searchbox {
	display: flex;
}

#key {
	border: 1px solid white;
	border-right: none;
	border-radius: 18px 0 0 18px;
	background-color: white;
	padding: 5px 0 5px 15px;
	font-size: 15px;
}

#key::placeholder {
	color: lightgray;
	font-size: 14px;
}

#key:focus {
	border: 1px solid #6f90d9;
	outline: none;
	border-right: none;
	border-style: outset;
	border-right-style: none;
}

#key:focus+div {
	border: 1px solid #6f90d9;
	border-left: none;
	outline: none;
	border-style: outset;
	border-left-style: none;
}

#loupe {
	margin: 0;
	border: 1px solid white;
	border-left: none;
	padding: 2px 12px 0 5px;
	border-radius: 0 18px 18px 0;
	background-color: white;
}

.btn.btn-danger.btn-sm {
	background-color: #fa7a7a;
	border: #fa7a7a;
	color: white;
	padding: 6px 10px;
}

#searchBar {
	padding-left: 0;
}

#searchBar a {
	color: #fff;
	text-decoration: none;
}

#searchBar li {
	display: inline-block;
	text-decoration: none;
	margin: auto 10px;
	background-color: #5e86ad;
	padding: 5px 10px;
	color: #fff;
	border-radius: 5px;
}

#searchBar li:hover {
	background-color: #3b5e80;
}

.page-link:hover {
	cursor: pointer;
}
</style>

<title>T-one 文章管理</title>
</head>

<body style="background-image: url('/images/shop/img/color04.jpg'); background-attachment: fixed;">

	<div id="wrapper">
		<div th:if="${session.currentUser!=null}">
			<div th:replace="header :: #header-wrapper"></div>
		</div>
		<div th:if="${session.currentManager}">
			<div th:replace="header :: #header-wrapper-manager"></div>
		</div>
		<div th:if="${session.currentManager==null} and ${session.currentUser==null}">
			<div th:replace="header :: #header-wrapper-unlogin"></div>
		</div>

		<div class="container pt-3">
			<br />
			<div>
				<a th:href="@{/manager/system}" th:text="${'<< 返回管理員選單'}" style="color: #5e86ad;"></a>
			</div>
			<div class="row pt-3" id="board-background">

				<div class="col-lg-12" id="board-master">
					<h3 class="text-center">文章管理</h3>

					<ul id="searchBar">
						<li>
							<a th:href="@{/article/articleManagementSystem}">全部</a>
						</li>
						<li>
							<a th:href="@{/article/managerTypeSearch(type='閒聊')}">閒聊</a>
						</li>
						<li>
							<a th:href="@{/article/managerTypeSearch(type='心得')}">心得</a>
						</li>
						<li>
							<a th:href="@{/article/managerTypeSearch(type='攻略')}">攻略</a>
						</li>
						<li>
							<a th:href="@{/article/managerTypeSearch(type='提問')}">提問</a>
						</li>
						<li>
							<a th:href="@{/article/managerTypeSearch(type='其他')}">其他</a>
						</li>
					</ul>

					<!-- 					<div class="search_area"> -->
					<!-- 						<div id="store_search"> -->
					<!-- 							<form id="searchform" name="searchform" method="get" th:action="@{/article/articleSearch}"> -->
					<!-- 								<div class="searchbox justify-content-end"> -->
					<!-- 									<input id="key" name="key" type="text" class="default" placeholder="搜尋文章" size="16" autocomplete="off"> -->
					<!-- 									<div id="loupe"> -->
					<!-- 										<a href="#" id="store_search_link" onclick="var $Form = $(this).parents('form'); $Form.submit(); return false;"> -->
					<!-- 											<img th:src="@{/images/shop/img/loupe.png}" width="18px"> -->
					<!-- 										</a> -->
					<!-- 									</div> -->
					<!-- 								</div> -->
					<!-- 							</form> -->
					<!-- 						</div> -->
					<!-- 					</div> -->

					<div class="search_area">
						<div id="store_search">
							<form id="searchform" name="searchform" method="get" th:action="@{/article/articleSearch}" style="position: relative;">
								<div class="searchbox" style="position: absolute; top: -50px; right: 0px;">
									<input id="key" name="key" type="text" class="default" placeholder="搜尋文章" size="16" autocomplete="off"
										style="z-index: 3;">
									<div id="loupe" style="z-index: 3;">
										<a href="#" id="store_search_link" onclick="var $Form = $(this).parents('form'); $Form.submit(); return false;">
											<img th:src="@{/images/shop/img/loupe.png}" width="18px">
										</a>
									</div>
								</div>
							</form>
						</div>
					</div>

					<table class="table table-hover mt-3" style="box-shadow: 0 4px 8px 0 rgb(228, 228, 228); text-align: center;">
						<tr style="text-align: center;">
							<td style="width: 10%;">發文類型</td>
							<td style="width: 5%;">分類</td>
							<td style="width: 15%;">討論版</td>
							<td style="width: 45%;">標題</td>
							<td style="width: 15%;">發布時間</td>
							<td style="width: 10%;"></td>
						</tr>
						<tr th:each="art:${articles}">
							<td>
								<a th:href="@{/article/get(id=${art.id},forumID=${art.forumID})}">
									<img th:src="@{${art.photoUri}}" width="60px">
								</a>
							</td>

							<td>
								<div th:text="${art.category}"></div>
							</td>

							<td>
								<div th:text="${art.forumName}"></div>
							</td>

							<td class="text-left">
								<a th:href="@{/article/get(id=${art.id},forumID=${art.forumID})}" th:text="${art.title}" style="color: black"> </a>
							</td>

							<td>
								<div th:text="${#dates.format(art.update_time,'yyyy-MM-dd HH:mm:ss')}"></div>
							</td>

							<td>
								<a th:if="${session.currentManager!=null}" th:href="@{/article/managerDelete(id=${art.id},forumID=${art.forumID})}"
									class="btn btn-danger btn-sm" onclick="if (!(confirm('您確定要刪除這則文章嗎?'))) return false">刪除</a>
							</td>
						</tr>
					</table>
					<div th:if="${page} and ${type == null}" class="d-flex justify-content-center">
						<ul class="pagination" th:if="${totalPage gt 1}" th:each="i: ${#numbers.sequence(1, totalPage)}">
							<li th:if="${page eq i}" class="page-item active">
								<a class="page-link" th:text="${i}"
									th:onclick="'window.location.href = \'' + @{/article/articleManagementSystem(page=${i})} + '\''"
									style="border-color: #a5bad1; background-color: #a5bad1; color: #0e2b4a; overflow: hidden;"></a>
							</li>
							<li th:unless="${page eq i}" class="page-item">
								<a class="page-link" th:text="${i}"
									th:onclick="'window.location.href = \'' + @{/article/articleManagementSystem(page=${i})} + '\''"
									style="overflow: hidden; color: #0e2b4a;"></a>
							</li>
						</ul>
					</div>
					<div th:if="${page} and ${type != null}" class="d-flex justify-content-center">
						<ul class="pagination" th:if="${totalPage gt 1}" th:each="i: ${#numbers.sequence(1, totalPage)}">
							<li th:if="${page eq i}" class="page-item active">
								<a class="page-link" th:text="${i}"
									th:onclick="'window.location.href = \'' + @{/article/managerTypeSearch(page=${i},type=${type})} + '\''"
									style="border-color: #a5bad1; background-color: #a5bad1; color: #0e2b4a; overflow: hidden;"></a>
							</li>
							<li th:unless="${page eq i}" class="page-item">
								<a class="page-link" th:text="${i}"
									th:onclick="'window.location.href = \'' + @{/article/managerTypeSearch(page=${i},type=${type})} + '\''"
									style="overflow: hidden; color: #0e2b4a;"></a>
							</li>
						</ul>
					</div>
				</div>

			</div>
		</div>

		<div th:replace="footer :: #footer-wrapper"></div>
	</div>

</body>

</html>