<!DOCTYPE html>
<html lang="zh-TW" xmlns:th="http://www.thymeleaf.org">

<head>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="shortcut icon" th:href="@{/favicon.ico}" />
<link th:href="@{/css/header.css}" rel="stylesheet">
<link th:href="@{/css/footer.css}" rel="stylesheet">
<link th:href="@{/css/bootstrap-4.5.2.min.css}" rel="stylesheet">
<script th:src="@{/js/jquery-3.5.1.min.js}"></script>
<script th:src="@{/js/popper-2.6.0.min.js}"></script>
<script th:src="@{/js/bootstrap-4.5.2.min.js}"></script>

<link th:href="@{/css/member/member-center-public.css}" rel="stylesheet">
<link th:href="@{/css/member/member-center-password.css}" rel="stylesheet">
<link th:href="@{/css/scrollbar.css}" rel="stylesheet">

<title>T-one 修改密碼</title>

</head>

<body style="background-image: url('/images/shop/img/color04.jpg'); background-attachment: fixed;">

	<div id="wrapper">
		<div th:replace="header :: #header-wrapper"></div>

		<div id="member-center-wrapper" class="container">
			<div class="row d-flex justify-content-center">
				<div id="member-center-bar" class="col-2 p-0">

					<div id="member-center-bar-top" class="p-0">
						<div class="text-center">會員中心</div>
					</div>

					<div id="member-center-bar-body">
						<ul class="nav nav-pills flex-column text-center">
							<li class="nav-item">
								<a class="nav-link" th:href="@{/member/info}">會員資料</a>
							</li>
							<li class="nav-item">
								<a class="nav-link active disabled">修改密碼</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" th:href="@{/member/article}">文章管理</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" th:href="@{/member/orders}">訂單查詢</a>
							</li>
							<!-- 							<li class="nav-item"> -->
							<!-- 								<a class="nav-link" th:href="@{/member/point}">紅利點數</a> -->
							<!-- 							</li> -->
							<li class="nav-item">
								<a class="nav-link" th:href="@{/member/collectionList}">收藏清單</a>
							</li>
						</ul>
					</div>
				</div>

				<div id="member-center-content" class="offset-1 col-9 p-4">
					<div id="member-center-content-top">修改密碼</div>
					<hr>
					<div class="d-flex justify-content-around align-items-center p-5">
						<div id="member-center-content-body">
							<form id="updatePassword" action="/member/password" method="POST">
								<div id="oldPwd" class="form-group p-1">
									<label for="userPassword">舊密碼</label>
									<input type="password" class="form-control" id="userPassword" name="userPassword" maxlength="12" autofocus required
										pattern="^[\w]{6,12}$">
									<div id="oldPwd-error" class="pwd-error"></div>
								</div>
								<div id="newPwd" class="form-group p-1">
									<label for="newPassword">新密碼</label>
									<input type="password" class="form-control" id="newPassword" name="newPassword" maxlength="12" required
										pattern="^[\w]{6,12}$">
									<div id="newPwd-error" class="pwd-error"></div>
								</div>
								<div id="checkNewPwd" class="form-group p-1">
									<label for="checkNewPassword">確認新密碼</label>
									<input type="password" class="form-control" id="checkNewPassword" name="checkNewPassword" maxlength="12"
										pattern="^[\w]{6,12}$">
									<div id="updatePwdMsg" th:text="${updatePwdMsg}"></div>
								</div>
								<div class="form-group text-center p-1">
									<button id="update-Pwd" type="submit" class="btn" style="background-color: #57a5de; color: #fff;">送出</button>
									<!-- 									<button type="reset" class="btn btn-primary">取消</button> -->
								</div>
							</form>
						</div>
					</div>
				</div>

			</div>
		</div>

		<div th:replace="footer :: #footer-wrapper"></div>
	</div>

	<script th:src="@{/js/member/member-password.js}"></script>
	<script th:src="@{/js/member/sweetalert2.all.js}"></script>
	<script th:src="@{/js/jquery.validate-1.19.2.min.js}"></script>
</body>

</html>