<!DOCTYPE html>
<html lang="zh-TW" xmlns:th="http://www.thymeleaf.org">

<head>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="shortcut icon" th:href="@{/favicon.ico}" />
<link th:href="@{/css/header.css}" rel="stylesheet">
<link th:href="@{/css/footer.css}" rel="stylesheet">
<link th:href="@{/css/bootstrap-4.5.2.min.css}" rel="stylesheet">
<script th:src="@{/js/jquery-3.5.1.min.js}"></script>
<script th:src="@{/js/popper-2.6.0.min.js}"></script>
<script th:src="@{/js/bootstrap-4.5.2.min.js}"></script>

<link th:href="@{/css/member/member-center-public.css}" rel="stylesheet">
<link th:href="@{/css/member/member-center-article.css}" rel="stylesheet">
<link th:href="@{/css/scrollbar.css}" rel="stylesheet">

<style>
table {
	table-layout: fixed;
}

table th, table td {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.searchbox {
	display: flex;
}

#key {
	border: 1px solid white;
	border-right: none;
	border-radius: 18px 0 0 18px;
	background-color: white;
	padding: 5px 0 5px 15px;
	font-size: 15px;
}

#key::placeholder {
	color: lightgray;
	font-size: 14px;
}

#key:focus {
	border: 1px solid #6f90d9;
	outline: none;
	border-right: none;
	border-style: outset;
	border-right-style: none;
}

#key:focus+div {
	border: 1px solid #6f90d9;
	border-left: none;
	outline: none;
	border-style: outset;
	border-left-style: none;
}

#loupe {
	margin: 0;
	border: 1px solid white;
	border-left: none;
	padding: 2px 12px 0 5px;
	border-radius: 0 18px 18px 0;
	background-color: white;
}

.page-link:hover {
	cursor: pointer;
}
</style>

<title>T-one 收藏清單</title>

</head>

<body style="background-image: url('/images/shop/img/color04.jpg'); background-attachment: fixed;">

	<div id="wrapper">
		<div th:replace="header :: #header-wrapper"></div>

		<div id="member-center-wrapper" class="container">
			<div class="row d-flex justify-content-center">

				<div id="member-center-bar" class="col-2 p-0">

					<div id="member-center-bar-top" class="p-0">
						<div class="text-center">會員中心</div>
					</div>

					<div id="member-center-bar-body">
						<ul class="nav nav-pills flex-column text-center">
							<li class="nav-item">
								<a class="nav-link" th:href="@{/member/info}">會員資料</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" th:href="@{/member/password}">修改密碼</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" th:href="@{/member/article}">文章管理</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" th:href="@{/member/orders}">訂單查詢</a>
							</li>
							<!-- 							<li class="nav-item"> -->
							<!-- 								<a class="nav-link" th:href="@{/member/point}">紅利點數</a> -->
							<!-- 							</li> -->
							<li class="nav-item">
								<a class="nav-link active disabled">收藏清單</a>
							</li>
						</ul>
					</div>
				</div>

				<div id="member-center-content" class="offset-1 col-9 p-4">
					<div id="member-center-content-top">收藏清單</div>
					<hr>
					<div class="d-flex justify-content-around align-items-center">
						<div id="member-center-content-body">
							<table class="table table-hover text-center">
								<thead style="background-color: #3b5573; color: #fff;">
									<tr>
										<th style="width: 35%;">文章名稱</th>
										<th style="width: 10%;">類型</th>
										<th style="width: 25%;">收藏時間</th>
										<th style="width: 30%;">
											<div class="d-flex justify-content-center">
												<div class="search_area">
													<div id="store_search">
														<form id="searchform" name="searchform" method="get" th:action="@{/member/trackSearch}">
															<div class="searchbox">
																<input type="hidden" name="UserID" th:value="${session.currentUser.userID}">
																<input id="key" name="key" type="text" class="default" placeholder="搜尋追蹤文章" size="16" autocomplete="off">
																<div id="loupe">
																	<a href="#" id="store_search_link" onclick="var $Form = $(this).parents('form'); $Form.submit(); return false;">
																		<img th:src="@{/images/shop/img/loupe.png}" width="18px">
																	</a>
																</div>
															</div>
														</form>
													</div>
												</div>
											</div>
										</th>
									</tr>
								</thead>
								<tbody>
									<tr th:each="article:${articles}">
										<td>
											<a th:href="@{'/article/get?id='+${article.id}}+'&forumID='+${article.forumID}" th:text="${article.title}"
												style="color: #858f89"></a>
										</td>
										<td th:text="${article.category}"></td>
										<td th:text="${article.add_time}"></td>
										<td>
											<button class="btn-sm delTrack" style="background-color: #fa7a7a; border:none; color: #fff;">取消追蹤</button>
											<input type="hidden" th:value="${session.currentUser.userID}">
											<input type="hidden" th:value="${article.id}">
										</td>
									</tr>
								</tbody>
							</table>
							<div th:if="${articleNotFound}" class="text-center" th:text="${articleNotFound}"></div>

							<input id="pageNum" type="hidden" th:value="${page}">

							<div th:if="${page}" id="member-articles-pagination" class="d-flex justify-content-center">
								<ul class="pagination" th:if="${totalPage gt 1}" th:each="i: ${#numbers.sequence(1, totalPage)}">
									<li th:if="${page eq i}" class="page-item active">
										<a class="page-link" th:text="${i}"
											th:onclick="'window.location.href = \'' + @{/member/collectionList(page=${i})} + '\''"
											style="border-color: #a5bad1; background-color: #a5bad1; color: #0e2b4a; overflow: hidden;"></a>
									</li>
									<li th:unless="${page eq i}" class="page-item">
										<a class="page-link" th:text="${i}"
											th:onclick="'window.location.href = \'' + @{/member/collectionList(page=${i})} + '\''"
											style="overflow: hidden; color: #0e2b4a;"></a>
									</li>
								</ul>
							</div>

						</div>
					</div>
				</div>

			</div>
		</div>

		<div th:replace="footer :: #footer-wrapper"></div>
	</div>

	<script th:src="@{/js/member/member-collection.js}"></script>
</body>

</html>