@charset "UTF-8";

/* 登入表格位置、邊線、陰影 */
#forget-password-fieldset {
	margin: auto;
	border: 1px solid lightgray;
	box-shadow: 5px 5px 10px gray;
	border-radius: 10px;
	height: 240px;
}

/* 錯誤訊息顏色、字體 */
label.error, #emailSendError {
	color: red;
	font-weight: 500;
	font-size: 0.8em;
	margin: 0;
}