@charset "UTF-8";

/* 驗證錯誤訊息顏色 */
label.error {
	color: red;
	font-weight: 500;
	font-size: 0.8em;
	margin: auto;
}

/* 錯誤訊息參考位置 */
#oldPwd, #newPwd, #checkNewPwd {
	position: relative;
}

/* 錯誤訊息位置 */
#userPassword-error, #newPassword-error, #checkNewPassword-error {
	position: absolute;
	top: 75px;
	left: 20px;
}

/* 更改密碼錯誤訊息 */
#updatePwdMsg {
	color: red;
	font-weight: 500;
	font-size: 0.8em;
	margin-left: 20px;
}

/* 舊密碼驗證錯誤訊息 */
#oldPwd-error {
	color: red;
	font-weight: 500;
	font-size: 0.8em;
	position: absolute;
	top: 45px;
	right: -95px;
}

#newPwd-error {
	color: red;
	font-weight: 500;
	font-size: 0.8em;
	position: absolute;
	top: 45px;
	right: -105px;
}