<!DOCTYPE HTML>
<html lang="zh-TW" xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="shortcut icon" th:href="@{/favicon.ico}" />
<link th:href="@{/css/header.css}" rel="stylesheet">
<link th:href="@{/css/footer.css}" rel="stylesheet">
<link th:href="@{/css/bootstrap-4.5.2.min.css}" rel="stylesheet">
<script th:src="@{/js/jquery-3.5.1.min.js}"></script>
<script th:src="@{/js/popper-2.6.0.min.js}"></script>
<script th:src="@{/js/bootstrap-4.5.2.min.js}"></script>

<link th:href="@{/css/news/news-home.css}" rel="stylesheet">
<!-- 輪播器 -->
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick-theme.css" />
<script type="text/javascript" src="https://cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick.css" />
<link th:href="@{/css/scrollbar.css}" rel="stylesheet">

<title>T-one 新聞搜尋</title>

</head>

<body style="background-image: url('/images/shop/img/color04.jpg'); background-attachment: fixed;">

	<div id="wrapper">
		<div th:if="${session.currentUser!=null}">
			<div th:replace="header :: #header-wrapper"></div>
		</div>
		<div th:if="${session.currentManager}">
			<div th:replace="header :: #header-wrapper-manager"></div>
		</div>
		<div th:if="${session.currentManager==null} and ${session.currentUser==null}">
			<div th:replace="header :: #header-wrapper-unlogin"></div>
		</div>

		<div class="container">

			<!-- 輪播器 -->
			<div class="row">
				<div class="col-lg-9">

					<div class="wrapper-carousel">
						<div id="cover" class="carousel">
							<div class="carousel-img" th:each="News:${newsTop8}">
								<a th:href="@{/news/showNews(newsId=${News.id})}">
									<img th:src="@{${News.getNewsPhoto}}" height="180" width="180">
								</a>
							</div>

						</div>
					</div>
					<script type="text/javascript">
                	$('.carousel').slick({
  					  slidesToShow: 4,
  					  slidesToScroll: 1,
  					  autoplay: true,
  					  autoplaySpeed: 2000,
					});
            		</script>
				</div>
			</div>

			<div class="row pt-3" id="board-background">
				
				<div class="col-lg-9">
					<!-- 搜尋器 -->
					<div class="d-flex justify-content-between">
					<span th:text="'搜尋結果：'+ ${keyword}" style="line-height:34px;font-size:24px;"></span>
					<div id="forum_search" class="d-flex justify-content-end mr-4 mb-3">
						<form  name="searchform" method="get" th:action="@{/news/managerSearch}">
							<div class="searchbox">
								<input id="key" name="keyword" type="text" class="default" placeholder=" 新聞搜尋" autocomplete="off">
								<div id="loupe">
									<a href="#" id="forum_search_link" onclick="var $Form = $(this).parents('form'); $Form.submit(); return false;">
										<img th:src="@{/images/shop/img/loupe.png}" width="18px">
									</a>
								</div>
							</div>
						</form>
					</div>
					</div>
					
					<!-- 頁籤 -->
					<span id="tab-1">1</span>
					<span id="tab-2">2</span>
					<span id="tab-3">3</span>
					<span id="tab-4">4</span>
					<span id="tab-5">5</span>

					<div id="board-master">
						<ul id="tabs-ul">
							<li class="active">
								<a href="#tab-1">全部結果</a>
							</li>
							<li>
								<a href="#tab-2">PC</a>
							</li>
							<li>
								<a href="#tab-3">手機</a>
							</li>
							<li>
								<a href="#tab-4">TV</a>
							</li>
							<li>
								<a href="#tab-5">主題報導</a>
							</li>
							
						</ul>

						<!-- 全部新聞 -->
						<div class="tab-content-1">
							<table id="AllNews" class="table table-hover">
								<tr th:each="tempNews:${news}">
									<td width="100px">
										<div id="news-home-cover">
											<a th:href="@{/news/managerShowNews(newsId=${tempNews.id})}">
												<img th:src="@{${tempNews.getNewsPhoto}}" height="180" width="180">
											</a>
										</div>
									</td>

									<td>
										<a th:href="@{/news/managerShowNews(newsId=${tempNews.id})}" th:text="${tempNews.title}" class="h5"></a>
										<div class="news-article-body-div">
											<div th:utext="${tempNews.article}"></div>
										</div>
										<a th:href="@{/news/managerShowNews(newsId=${tempNews.id})}">繼續閱讀</a>
										<span class="NewsHomeDate" th:text="${#dates.format(tempNews.postTime,'yyyy-MM-dd')}"></span>

									</td>
								</tr>
							</table>
						</div>
						<!-- PC新聞 -->
						<div class="tab-content-2">
							<table id="newsPC" class="table table-hover">
								<tr th:each="tempNews:${newsPC}">
									<td width="100px">
										<div id="news-home-cover">
											<a th:href="@{/news/managerShowNews(newsId=${tempNews.id})}">
												<img th:src="@{${tempNews.getNewsPhoto}}" height="180" width="180">
											</a>
										</div>
									</td>

									<td>
										<a th:href="@{/news/managerShowNews(newsId=${tempNews.id})}" th:text="${tempNews.title}" class="h5"></a>
										<div class="news-article-body-div">
											<div th:utext="${tempNews.article}"></div>
										</div>
										<a th:href="@{/news/managerShowNews(newsId=${tempNews.id})}">繼續閱讀</a>
										<span class="NewsHomeDate" th:text="${#dates.format(tempNews.postTime,'yyyy-MM-dd')}"></span>

									</td>
								</tr>
							</table>
						</div>
						<!-- 手機新聞 -->
						<div class="tab-content-3">
							<table id="newsMobile" class="table table-hover">
								<tr th:each="tempNews:${newsMobile}">
									<td width="100px">
										<div id="news-home-cover">
											<a th:href="@{/news/managerShowNews(newsId=${tempNews.id})}">
												<img th:src="@{${tempNews.getNewsPhoto}}" height="180" width="180">
											</a>
										</div>
									</td>

									<td>
										<a th:href="@{/news/managerShowNews(newsId=${tempNews.id})}" th:text="${tempNews.title}" class="h5"></a>
										<div class="news-article-body-div">
											<div th:utext="${tempNews.article}"></div>
										</div>
										<a th:href="@{/news/managerShowNews(newsId=${tempNews.id})}">繼續閱讀</a>
										<span class="NewsHomeDate" th:text="${#dates.format(tempNews.postTime,'yyyy-MM-dd')}"></span>

									</td>
								</tr>
							</table>
						</div>
						<!-- TV新聞 -->
						<div class="tab-content-4">
							<table id="newsTV" class="table table-hover">
								<tr th:each="tempNews:${newsTV}">
									<td width="100px">
										<div id="news-home-cover">
											<a th:href="@{/news/managerShowNews(newsId=${tempNews.id})}">
												<img th:src="@{${tempNews.getNewsPhoto}}" height="180" width="180">
											</a>
										</div>
									</td>

									<td>
										<a th:href="@{/news/managerShowNews(newsId=${tempNews.id})}" th:text="${tempNews.title}" class="h5"></a>
										<div class="news-article-body-div">
											<div th:utext="${tempNews.article}"></div>
										</div>
										<a th:href="@{/news/managerShowNews(newsId=${tempNews.id})}">繼續閱讀</a>
										<span class="NewsHomeDate" th:text="${#dates.format(tempNews.postTime,'yyyy-MM-dd')}"></span>

									</td>

								</tr>
							</table>
						</div>
						<!-- 主題報導 -->
						<div class="tab-content-5">
							<table id="newsReport" class="table table-hover">
								<tr th:each="tempNews:${newsReport}">
									<td width="100px">
										<div id="news-home-cover">
											<a th:href="@{/news/managerShowNews(newsId=${tempNews.id})}">
												<img th:src="@{${tempNews.getNewsPhoto}}" height="180" width="180">
											</a>
										</div>
									</td>

									<td>
										<a th:href="@{/news/managerShowNews(newsId=${tempNews.id})}" th:text="${tempNews.title}" class="h5"></a>
										<div class="news-article-body-div">
											<div th:utext="${tempNews.article}"></div>
										</div>
										<a th:href="@{/news/managerShowNews(newsId=${tempNews.id})}">繼續閱讀</a>
										<span class="NewsHomeDate" th:text="${#dates.format(tempNews.postTime,'yyyy-MM-dd')}"></span>

									</td>

								</tr>
							</table>
						</div>
					</div>
				</div>
				
				<!-- 商城廣告連結 -->
				<div class="col-lg-3">
					<div class="right-column">				
						<div class="tab-products-container">							
							<div class="img_a">
								<a href="https://googleads.g.doubleclick.net/pcs/click?xai=AKAOjst1_fvD7JcmnEgAB67Lj36H7t2_4HtV7GU6PoXR9-LXXxnlR8-Q55vZoUvJ0bP2ry6X0vdsxPSFi2GhMk58FjU5K_lhwUqHyz2RxEixDfJozdlvqQxqgAvLentjGNxT_U5BMSptg7XEMoNZzk5ptGMf3yB08aa7z_NwCbH0QUOk4mqE9BGHGaxh48zcPLkpA9qViY9b0Tu5QgVTpNdy4qmIl5PR8YJxQs0PMpc7kRFeqZg_0Ci7p06RPNODmtm4RspuqegDLTW0em0pNnnTqs-NT4KDQw&sai=AMfl-YTE4MzhSHhLgvmMTuIcJUbnjQ6tM1E79nDeLwlBaMNZPdMpmYqQAqoks2Ha-4jjST1m_AKcfnGO38l9HBwPosZ6mh-BlrwhBTIewegxQhDyIX-3lgLlzPfQECJCk51TC-iDvg&sig=Cg0ArKJSzPz7yccqJ5vb&adurl=https://app.adjust.com/8ls0k7r&nm=22&nx=165&ny=-259&mb=2&clkt=154">
									<img src="/images/news/newsImages/20210214.jfif">
								</a>
							</div>									
						</div>
					</div>
				</div>

			</div>
		</div>

		<div th:replace="footer :: #footer-wrapper"></div>
	</div>

	<script th:src="@{/js/news/news-home.js}"></script>
</body>

</html>