<!DOCTYPE html>
<html lang="zh-TW" xmlns:th="http://www.thymeleaf.org">

<head>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="shortcut icon" th:href="@{favicon.ico}" />
<link th:href="@{css/header.css}" rel="stylesheet">
<link th:href="@{css/footer.css}" rel="stylesheet">
<link th:href="@{css/bootstrap-4.5.2.min.css}" rel="stylesheet">
<script th:src="@{js/jquery-3.5.1.min.js}"></script>
<script th:src="@{js/popper-2.6.0.min.js}"></script>
<script th:src="@{js/bootstrap-4.5.2.min.js}"></script>

<link th:href="@{css/member/member-forget-password.css}" rel="stylesheet">
<link th:href="@{css/scrollbar.css}" rel="stylesheet">

<title>T-one 忘記密碼</title>

</head>

<body style="background-image: url('/images/shop/img/color04.jpg'); background-attachment: fixed;">

	<div id="wrapper" class="d-flex align-items-center">
		<div th:replace="header :: #header-wrapper-unlogin"></div>

		<div class="container" style="position: relative;">
			<div class="row">
				<fieldset class="col-lg-4 col-md-6 col-sm-12 p-5 text-center" id="forget-password-fieldset" style="background-color: #fff">
					<legend style="position: absolute; top: 8px; right: 0;">忘記密碼</legend>
					<form th:action="@{/forgetPassword}" method="POST" id="forget-password">
						<div id="pwd" class="form-group my-2">
							<input type="text" name="email" id="email" class="form-control" maxlength="30" placeholder="請輸入email" value="@gmail.com"/>
						</div>
						<div id="emailSendError" th:text="${emailSendError}"></div>
						<input id="sendEmail" class="btn btn-info mt-1 mb-2" type="submit" value="取得郵件">
						<div>
							※請輸入您驗證的email，若輸入錯誤將收不到信件，如有任何問題請洽
							<a th:href="@{/member/feedback}" style="color: #387fc7;">客服</a>
							。
						</div>
					</form>
				</fieldset>
			</div>
		</div>

		<div th:replace="footer :: #footer-wrapper"></div>
	</div>

	<script th:src="@{js/jquery.validate-1.19.2.min.js}"></script>
	<script th:src="@{js/member/member-forget-password.js}"></script>
</body>
</html>